amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
click==4.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.2
django-appconf==1.0.1
django-celery==3.1.16
django-geoposition==0.2.2
django-redis==4.2.0
django-static-jquery==2.1.4
django-toolbelt==0.0.1
gunicorn==19.3.0
kombu==3.0.26
msgpack-python==0.4.6
psycopg2==2.6
pytz==2015.4
redis==2.10.3
requests==2.5.1
six==1.9.0
static3==0.6.1
